extends ./layouts/main.jade

block title
    title Authorize

block breadcrumb
    li
       a(href="/") Main
    li.active Authorize

block content
    div.container
        div.jumbotron
            h1 GTM Validator
            p Please login
            p
               a.btn.btn.btn-danger.btn-lg(href="/auth", role="button") Authorize with Google

